<launch>
         <param name="robot_description" command="cat $(find chassis2)/urdf/chassis2file.urdf.xacro" />
         <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
         <node name="state_publisher" pkg="chassis2" type="state_publisher" />
</launch>
